.vote-container {
  background-color: rgb(239, 230, 209);
  padding: 20px;
  background-size: 100%;
}

.election-title {
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  color: #d3b25f;
}

.election-section h2 {
  margin-bottom: 40px;
  background-color: #1e1445;
  border-radius: 20px;
}

.nominee-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.voted {
  color: #ffffff;
  padding: 6px;
  background-color: #006c12;
  border-radius: 5px;
}

.nominee-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 1;
  transform: translateY(20px);
  box-shadow: 0px 0px 50px rgb(0, 0, 255, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
}

.nominee-card:hover {
  box-shadow: 0px 0px 50px rgb(0, 0, 255, 0.3);
}

.nominee-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.nominee-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% ;
}

.nominee-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.nominee-details h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  font-weight: bold;
}

.nominee-details p {
  margin: 0;
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0a62de;
}

button:disabled {
  background-color: #fff;
  color: #777;
  cursor: not-allowed;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

/* Header Styles */
.header {
  background-color: #1e1445;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 5px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 70px;
  margin-right: 10px;
}

.header-center {
  flex-grow: 1;
  margin-left: -300px;
  text-align: center;
}

.header-right {
  
  display: flex;
  align-items: center;
}
.footer-right {
  margin-left: 50%;
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #1e1445;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #f3f3f3;
  color: #1e1445;
}
