.vote-container {
  background-color: #e5e0da;
  padding: 20px;
  background-attachment: fixed;
}

.election-title {
  text-align: center;
  margin-bottom: 20px;
}

.election-section {
  margin-bottom: 40px;
}

.nominee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.voted  {
  color: #ffffff;
  padding: 6px;
  background-color: #006c12;
  border-radius: 5px;
}

.nominee-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 1;
  transform: translateY(20px);
  box-shadow: 0px 0px 10px rgb(0,0,255,0.1) ;
  transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nominee-card:hover {
  box-shadow: 0px 0px 10px rgb(0,0,255,0.3) ;
}

.nominee-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.nominee-image {
  width:50%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nominee-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nominee-details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.nominee-details p {
  margin: 0;
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #1976d2;
}

p {
  margin: 0;
  font-size: 14px;
  color: #777;
}

h2 {
  text-align: center;
}

/* Header Styles */
.header {
  background-color: #627ab8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 5px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 160px; /* Increase the width as needed */
  height: 70px; /* Increase the height as needed */
  margin-right: 10px;
}

.header-center {
  flex-grow: 1;
  margin-left: -60px;
  text-align: center;
}

.header-right {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #fff;
  color: #627ab8;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #f3f3f3;
}


