/* adminHome.css */
.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.vote-container {
  background-color: #e5e0da;
  flex-grow: 1;
}

.nav-menu {
  padding: 10px;
}

.nav-menu ul {
  margin-right: 10px;
  font-size: 18px;
}

.nav-menu ul a {
  padding: 5px;
}

.nav-menu ul a:hover {
  color: #fff;
}

.main-content {
  padding: 20px;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

/* Header Styles */
.header {
  background-color: #627ab8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 5px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  height: 70px;
  margin-right: 10px;
}

.header-center {
  flex-grow: 1;
  text-align: center;
  color: #d3b25f;
  margin-right: -240px;
}

.election-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-right {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #d3b25f;
}

.logout-button {
  background-color: #fff;
  color: #627ab8;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 15px;
}

.logout-button:hover {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); /* Add box-shadow on hover */
}

.election-status-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.election-status-container {
  /* Add your styles here */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.election-status-card {
  /* Add your styles here */
  background-color: #f2f2f2;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.1); /* Update box shadow color */
  transition: box-shadow 0.3s ease;
}

.election-status-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.3); /* Update box shadow color */
}

.election-status-card h2 {
  /* Add your styles here */
  margin-bottom: 15px;
  font-size: 24px;
}

.election-status-card p {
  /* Add your styles here */
  margin-bottom: 10px;
  font-size: 18px;
}

.election-info {
  /* Add your styles here */
  font-size: 16px;
  margin-bottom: 10px;
}
