/* adminHome.css */
.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.vote-container {
  background-color: #e5e0da;
  flex-grow: 1;
}

.nav-menu {
  padding: 10px;
}

.nav-menu ul {
  margin-right: 10px;
  font-size: 18px;
}

.nav-menu ul a {
  padding: 5px;
}

.nav-menu ul a:hover {
  color: #fff;
}

.main-content {
  padding: 20px;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

/* Header Styles */
.header {
  background-color: #627ab8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 5px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  height: 70px;
  margin-right: 10px;
}

.header-center {
  flex-grow: 1;
  text-align: center;
  color: #d3b25f;
  margin-right: -240px;
}

.election-title {
  text-align: center;
}

.header-right {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #d3b25f;
}

.logout-button {
  background-color: #fff;
  color: #627ab8;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 15px;
}

.logout-button:hover {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); /* Add box-shadow on hover */
}

.election-status-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.election-status-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
