/* CandidateUpload.css */
.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.vote-container {
  background-color: #e5e0da;
  flex-grow: 1;
}

.nav-menu {
  padding: 10px;
}

.nav-menu ul {
  margin-right: 10px;
  font-size: 18px;
}

.nav-menu ul a {
  padding: 5px;
}

.nav-menu ul a:hover {
  color: #fff;
}

.content {
  padding: 20px;
}

.header {
  background-color: #627ab8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 5px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  height: 70px;
  margin-right: 10px;
}

.header-center {
  flex-grow: 1;
  text-align: center;
  color: #d3b25f;
  margin-right: -480px;
}

.election-title {
  text-align: center;
}

.header-right {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #d3b25f;
}

.logout-button {
  background-color: #fff;
  color: #627ab8;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 15px;
}

.logout-button:hover {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex-basis: calc(50% - 10px);
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="file"],
.dropdown {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #e5e0da;
}

.photo-upload {
  display: flex;
  flex-direction: column;
}

.photo-upload label {
  margin-bottom: 5px;
}

.photo-upload input[type="file"] {
  margin-bottom: 5px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #e5e0da;
}

.add-candidate-button,
.create-button,
.view-candidates-button {
  background-color: #627ab8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.export-candidates-button {
  background-color: #627ab8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;

}

.add-candidate-button:hover,
.create-button:hover,
.view-candidates-button:hover {
  background-color: #486ca3;
}

.view-candidates-button:active {
  background-color: #3a5482;
}

.view-candidates-button:focus {
  outline: none;
}

.error-message {
  color: red;
  margin-top: 10px;
}
