.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fcfcfc;
}

.election-title-name {
  font-size: 30px;
  color: #d3b25f;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  margin-bottom: 10px;
}

.login-card {
  align-items: center;
  padding: 40px;
  background-color: #c7a9a9;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  background-color: #e6e0da;
  color: black;
  //text-align: center;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
